<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Website</title>
    <link rel="stylesheet" href="main.css">
</head>
<body class="light-theme">
    <h1>Task List</h1>
    <p id="msg">Current tasks:</p>
    <ul>
        <li class="list">Add visual styles</li>
        <li class="list">Add light and dark themes</li>
        <li>Enable swithcing theme</li>
    </ul>
    <div>
        <button class="btn">Dark</button>
    </div>
    <script src="templates/static/js/button.js"></script>
    <noscript>You need to enable JavaScript to view the full site.</noscript>
    <div>
        <label for="username"> Please enter your username:</label>
            <input type="text" id="username" name="username" minlength="3" maxlength="20" required>
        <br> 
        <input type="checkbox" id="forkedCheck" name="forkedCheck">
            <label for="forkedCheck"> include forks</label><br>
        <button id="submit" onclick="displayjson()">Submit</button>
    </div>
    <div id="info" style="display: none;">
        Username:
        <span id="enteredUsername">     
        </span>
        </br>
        include forks:
        <span id="forksVal">      
        </span>
    </div>
</body>
</html>